[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

Flask = "==0.12"
Flask-RESTful = "==0.3.5"
Flask-SQLAlchemy = "==2.1"
Flask-Cors = "==3.0.2"
marshmallow = "==2.13.1"
"psycopg2" = "==2.7.1"
SQLAlchemy = "==1.1.5"
python-jose = "==1.2.0"
structlog = "==16.1.0"
cryptography = "==2.1.2"
cfenv = "==0.5.3"
gunicorn = "==19.7.1"
requests = "*"
retrying = "*"
maya = "*"


[dev-packages]

pylint = "*"
"flake8" = "*"
behave = "*"
nose = "*"
testfixtures = "*"
requests-mock = "*"
codecov = "*"
coverage = "*"
responses = "*"
pytest = "*"
