[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.11"

[packages]
Flask = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Flask-Cors = "*"
marshmallow = "*"
psycopg2-binary = "*"
SQLAlchemy = "~=1.4"
structlog = "*"
cryptography = "*"
gunicorn = "*"
requests = "*"
retrying = "*"
maya = "*"
PyJWT = "*"
requestsdefaulter = "*"
numpy = "*"
google-cloud-pubsub = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
behave = "*"
nose = "*"
testfixtures = "*"
requests-mock = "*"
coverage = "*"
responses = "*"
pytest = "*"
