[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.11"

[packages]
Flask-RESTful = "*"
marshmallow = "*"
psycopg2-binary = "*"
SQLAlchemy = "*"
structlog = "*"
cryptography = "*"
gunicorn = "*"
requests = "*"
retrying = "*"
maya = "*"
PyJWT = "*"
requestsdefaulter = "*"
numpy = "*"
google-cloud-pubsub = "*"
flask-sqlalchemy = "*"
flask = "*"
flask-cors = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
behave = "*"
nose = "*"
testfixtures = "*"
requests-mock = "*"
coverage = "*"
responses = "*"
pytest = "*"
